.wrapper {
  @apply fixed inset-x-0 bg-background py-6 shadow;
  z-index: var(--navbar-z-index);
  transition: padding var(--cubic-bezier-transition);
}

.wrapper.navScrolled {
  @apply py-4;
}

.nav {
  @apply flex items-center justify-between;
}

.navbarSpace {
  @apply h-[--navbar-height];
}

.navExpand {
  @apply invisible m-0 max-h-0 overflow-hidden rounded-xl border border-border;
  transition:
    opacity var(--cubic-bezier-transition),
    visibility var(--cubic-bezier-transition),
    margin-top var(--cubic-bezier-transition),
    max-height var(--cubic-bezier-transition);
  visibility: hidden;
}

.navExpand.expanded {
  @apply visible mt-6 max-h-96 p-3;
}

.navExpand ul {
  opacity: 0;
}

.navExpand.expanded ul {
  opacity: 1;
}
